:root {
  --vp-layout-max-width: 1600px;
  --vp-code-font-size: 1.4em;
}

.VPDoc.has-aside .content-container {
  max-width: 1024px!important;
}

.text {
  font-size: 16px!important;
}

.content, .outline-title {
  font-size: 14px!important;
}